.commonPostPreviewPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commonPostPreviewPage h2 {
  text-align: center;
}

.commonPostPreviewSearch {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
