.commonPostPreview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 2%;
  width: 80%;
  max-height: 400px;
}

.commonPostPreview:hover {
  box-shadow: 5px -5px 5px -2px #000000;
}

.commonPostPreviewHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commonPostPreviewImage {
  max-width: 80%;
  max-height: 200px;
  object-fit: contain;
}
