.commonPostPreviewPage {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.commonPostPreviewPage h2 {
  text-align: center;
}

.commonPostPreviewSearch {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
