.commonPage {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: auto;
  justify-content: center;
  gap: 1.25rem;
}

.commonPageHeading {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.commonPageImage {
  max-width: min(500px, 90vw);
  max-height: 360px;
  object-fit: contain;
  margin: auto;
}

.commonPageImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.linkDiv a {
  color: #0000ee;
}

@media (min-width: 1280px) {
  .commonPage {
    max-width: 1180px;
  }
}
