.commonPostPreview {
  border-radius: 10px;
}

.commonPostPreview:hover {
  box-shadow: 5px -5px 5px -2px #000000;
}

.commonPostPreviewHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
