.commonPage {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: auto;
  justify-content: center;
  gap: 20px;
}

.commonPageHeading {
  text-align: center;
}

.commonPageImage {
  max-width: 500px;
  max-height: 360px;
  object-fit: contain;
  margin: auto;
}

.commonPageImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 1280px) {
  .commonPage {
    max-width: 1180px;
  }
}
