.formInputDiv {
  margin-bottom: 0.75rem;
}

.formInputLabel {
  margin-bottom: 0.5rem;
  display: block;
}

.formInput {
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -2px rgb(0, 0, 0, 0.1);
}

.formInputTextArea {
  width: 100%;
  resize: none;
  border-radius: 0.375rem;
  border-width: 1px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -2px rgb(0, 0, 0, 0.1);
}

.formInputButton {
  border-radius: 0.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
