.header {
  display: flex;
  flex-direction: column;
  padding: auto;
  text-align: center;
  max-width: 95vw;
  /* align items to right */
}

/* TODO: look up tablet breakpoint */
@media (min-width: 720px) {
  .header {
    /* TODO: remove placeholder later */
    display: flex;
    /* align items to center */
  }
}

/* TODO: look up XL breakpoint */
@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}

/* TODO: look up how to set tabs to 2 spaces in VS */
