.header {
  display: flex;
  flex-direction: column;
  padding: auto;
  text-align: center;
  gap: 1.25rem;
  margin-top: 2rem;
}

.headerTitle {
  text-decoration: none;
  color: black;
}

@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}
