.navBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 95vw;
  margin-left: auto;
  height: 370px;
}

@media (min-width: 768px) {
  .navBar {
    flex-direction: row;
    gap: 0;
    margin-right: auto;
  }
}
