.navBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

/* TODO: Fix the min width to the actual tablet size */
@media (min-width: 720px) {
  .navBar {
    flex-direction: row;
    gap: 0;
  }
}
