.navItem {
  color: #000000;
  margin-left: 5vw;
}

.navItemWrapper {
  height: 64px;
  text-decoration: none;
  border-bottom: 5px solid #cc00cc;
  transition: all 0.25s ease-out allow-discrete;
  flex: 1;
  display: flex;
  align-items: center;
}

.navItemWrapper:hover {
  box-shadow: -5px -5px 5px -2px #000000;
  border-bottom-color: #009933;
}

@media (min-width: 768px) {
  .navItemWrapper {
    height: 32px;
    justify-content: center;
  }

  .navItemWrapper:hover {
    box-shadow: 5px -5px 5px -2px #000000;
  }

  .navItem {
    margin-left: auto;
    margin-right: auto;
  }
}
