.pageNumberNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  max-width: 12rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid #000000;
}

.pageNumberNavSubDiv {
  display: grid;
  width: 4rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
}

.pageNumberNavSubDiv * {
  margin: auto;
}

.pageNumberNavSubDiv a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  line-height: 100%;
}

.pageNumberNavSubDiv.buttonEnabled:hover {
  background-color: #f2f2f2;
}

.pageNumberNavSubDivLeft {
  border-radius: 1rem 0rem 0rem 1rem;
}

.pageNumberNavSubDivRight {
  border-radius: 0rem 1rem 1rem 0rem;
}
