STRAPI_API_TOKEN=
PAGE_LIMIT=6
STRAPI_URL=http://localhost:1337
STRAPI_MEDIA_URL=http://localhost:1337
NEXT_PUBLIC_STRAPI_MEDIA_URL=http://localhost:1337

# Email credentials for the email form
EMAIL_USER=
EMAIL_PASSWORD=
